@charset "UTF-8";

// Colours
$primary-color: #cf33a2; // Primary color in the design
	 $p-shade1: #e365bf; // Derived shade of the p.color
	 $p-shade2: #a92483;

$secondary-color: #666666; // Secondary color if relevant

$highlight-color: #f6d936; // Highlight color

$white: #FFFFFF;
$black: #222222;

// Theme

// Easing & Transitions
$ui-ease-fast: 150ms ease-out;
$ui-ease-med: 300ms ease-out;
$ui-ease-slow: 500ms ease-out;
.hover-fade {
  transition: opacity $ui-ease-med;
  &:hover { opacity: 0.7; }
}

$font-color:#333333;